@font-face {
    font-family: MaisonNeue-Mono;
    src: url(https://files.cargocollective.com/c1381777/MaisonNeue-Mono.otf);
}
@font-face {
    font-family: MaisonNeue-Book;
    src: url(https://files.cargocollective.com/c791355/MaisonNeue-Book.otf);
}

body {
	font-family: sans-serif;
	padding: 20px;
  background-color: lightgray;
}

hr {
 border: 0.5px solid black;
}

div {

	padding: 5px;
}

section {
	height: 20px;
}

section:not(:first-child) {
	margin-top: 20px;
}

h1 {
  font-size: 120px;
  font-family: MaisonNeue-Book;
  padding-right: 36%;
  padding-top: 60px;
  font-weight: 500;
  letter-spacing: -7px;
  line-height: 120px;
}

h2 {
  font-size: 20px;
  font-family: helvetica;
  font-weight: 400;
}


a {
   color: black;
   text-decoration: none;
   font-size: 16px;
   font-family: sans-serif;
}

a:hover {
   color: blue;
   text-decoration:none;
   cursor:pointer;
}

p {
  color: black;
  text-decoration: none;
  font-size: 22px;
  width: 55%;
  margin-left: 50px;
  line-height: 29px;
  font-family: MaisonNeue-Book;
  font-weight: 400;
  letter-spacing: -0.75px;
}

p:hover {
   text-decoration:none;
   cursor:pointer;
}


.clickable:hover {
  color: blue;
  text-decoration:none;
  cursor:pointer;
}
